.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-mt-large {
  margin-top: 3.5rem;
}

.u-mb-large {
  margin-bottom: 3.5rem;
}

.u-margin-left-small {
  margin-left: 3rem;
}

.u-txt-right {
  text-align: right;
}
