@import './variables';

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.4rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: transform 0.3s;
    position: relative;
    font-weight: 700;
    display: inline-block;
  }

  &--green {
    color: #fff;
    background-color: $color-primary;
    font-weight: 400 !important;
    font-size: 1.6rem;
  }

  &--small {
    padding: 1.25rem 3rem !important;
    font-size: 1.4rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; //Es el truquito para cuando crece y se desvanece.
    }
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &--white {
    color: $color-grey-dark;
    background-color: #fff;

    &::after {
      background-color: #fff;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &-animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; //Para que las propiedades al 0% se aplique antes que la animacion inicie.
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
