.section__cta {
  display: flex;
  align-items: center;
  padding: 10rem;
}

.cta {
  display: flex;
  align-items: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  margin: 2rem auto;
  padding: 3rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__img {
    height: 20rem;
    margin-right: 3rem;
    padding: 2rem;
  }

  &__content {
    display: flex;
    align-items: center;

    & div {
      margin-right: 2rem;
    }
  }

  &__text {
    grid-column: 1 / 2;
    font-size: 1.6rem;
  }
}
