.setting {
  flex: 1;
  padding: 7rem 0;

  &__container {
    max-width: 68rem;
    margin: 0 auto;
    padding: 0 8rem;
  }

  &__img {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    margin: 4rem 1rem 0 0;

    &-container {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
    }

    &-upload {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    &-upload + label {
      color: $color-secondary-light;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-secondary-dark;
      padding: 3px;
      transition: all 0.2s;
      cursor: pointer;
    }
  }
}

.line {
  margin: 6rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}
