$color-primary: #7dd56f;
$color-primary-light: #00cc99;
$color-primary-dark: #28b487;

$color-secondary-dark: #ff1d77;
$color-secondary-light: #ff3366;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light: #f7f7f7;

$color-dark: #444;
$color-black: #000;
$color-black-light: #414d5c;
$color-white: #fff;
